:root{
  --c-title:#12142D;
  --c-body1: #92929E;
  --c-body2: #9A9BB0;
  --purple: #5541D8;
  --primary: #dbdff1;
  --secondary: #8675FF; 
  --pink: #e46a9D; 
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --purple-Heart : #8675FF;
  --fervent-pink : rgb(255, 112, 139);
  --night-blue : #383874;
  --rich-red-orange : #ffba69;
  --electric-green: #5eff5a;
  --red: #ff2d2e;
  --birches: #023aff;
  --lavender: #dbdff1;
}
html{
  overflow: auto !important;
}

body {
  margin: 0;
  user-select: none;
  font-family: 'Gotham-Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #252834;


}

